%form{:action => "/", :method=>"post"}
  %h1
    = "#{action.first} #{@article.title}"
  -if params[:body]
    %h3
      Preview
    %p
      =PARSER.parse(params[:body])
    %hr
  %p
    %label{:for => :title} Title
    %br
    %input{:type => :text, :name => :title, :id => :title, :value => @article.title}

  %p
    %label{:for => :slug} Slug
    %br
    %input{:type => :text, :name => :slug, :id => :slug, :value => @article.slug}

  %p
    %label{:for => :body} Body
    %br
    = find_and_preserve do
      %textarea{:cols => 70, :rows => 15, :name => :body, :id => :body}
        =params[:body] || @article.body

    %input{:type => 'hidden', :name => 'preview', :value => '0'}
  %p
    %button{:onClick => "window.location='/#{@article.slug.gsub(/'/, "\'") if @article.id }';return false;"} Cancel
    &nbsp; &nbsp;
    %input{:type => :submit, :value => 'Preview', :onClick => "document.forms[0].preview.value=1"}
    &nbsp; &nbsp;
    %input{:type => :submit, :value => action.last}