%h1="Versions of #{@article.title}"
%p
  %a{:href => "/#{@article.slug}"}= "back to #{@article.title}"
-@article.versions.reverse.each_with_index do |article, i|
  %div{:class => "history#{( i % 2 == 0 ? '_alt' : '')}"}
    .history_title= article.title
    .history_body= PARSER.parse(article.body)
    .history_date= friendly_time(article.updated_at)
    %form{:action => "/#{@article.slug}/edit", :method=>'post'}
      %input{:type => 'hidden', :name => 'body', :value => article.body}
      %input{:type => 'submit', :value => 'Restore'}