!!!
%html{:xmlns=>'http://www.w3.org/1999/xhtml', :'xml:lang'=>'en', :lang=>'en'}
  %head
    %title= "#{@article ? @article.title : @title} &ndash; hoboken"
    %link{:href=>'/main.css', :media=>'screen', :rel=>'Stylesheet', :type=>'text/css'}

  %body
    #main
      #sidebar
        %div
          %strong Navigation
        %ul
          %li
            %a{:href => '/'} home
          %li
            %a{:href => "/#{Date.today.to_s}"} today
          - if @article && @article.id
            %li
              %a{:href => "/#{@article.slug}/edit"} edit
            %li
              %a{:href => "/#{@article.slug}/history"} history
        - if @recent
          %div
            %strong Recent items
          %ul
            - @recent.each do |article|
              %li
                %a{:href => article.slug}
                  = article.title
      #content
        = yield
      #footer
        powered by
        %a{:href=>'http://github.com/jchupp/hoboken/tree/master'} hoboken