%form{:action => "/", :method=>"post"}
  %h1
    = "#{@action.first} #{@article.title}"
  %p
    %label{:for => :title} Title
    %br
    %input{:type => :text, :name => :title, :id => :title, :value => @article.title}

  %p
    %label{:for => :slug} Slug
    %br
    %input{:type => :text, :name => :slug, :id => :slug, :value => @article.slug}

  %p
    %label{:for => :current_body} Current Body
    %br
    = find_and_preserve do
      %textarea{:cols => 70, :rows => 10, :name => :body, :id => :current_body}
        =@article.original_values[:body]

  %p
    %label{:for => :body} Desired Body
    %br
    = find_and_preserve do
      %textarea{:cols => 70, :rows => 15, :name => :body, :id => :body}
        =@article.body

  %p
    %input{:type => :submit, :value => @action.last}